@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
button,
input {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

header button {
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  margin: 0 60px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: 0.2s ease-in-out;
}

header button:hover {
  transform: scale(1.05);
}

.mainContainer {
  display: flex;
  flex: 1;
  padding: 0 5%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.weatherCard {
  border: rgb(194, 194, 194) solid 1px;
  border-radius: 5px;
  flex-wrap: wrap;
  height: 200px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: ease-in-out 0.2s;
  /* background-image: ; */
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherCard:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.weatherCard input {
  width: 90%;
  margin: 20px 0;
  border: none;
  border-bottom: solid black 1px;
}

.weatherCard input:focus {
  outline: none;
  border-bottom: blue solid 1px;
}

.weatherCard button {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 90%;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.weatherCard button:hover {
  opacity: 70%;
}

.weatherStatus {
  display: flex;
  text-transform: capitalize;
}

.cityName {
  text-transform: capitalize;
}

.weatherStatus img {
  margin-right: 5px;
}
